#--------OAuth2.0 Client Configuration---------
scope=
grant_type=client_credentials
client_id=6d1cc891f89a4089f581586ea48e99d42d10facf92138b66
client_secret=654b962bb84a0da2140e693625da24acd4d2838f40762361
access_token=
authentication_server_url=https://angel.co/api/oauth/authorize
request_server_url=https://angel.co/api/oauth/token
resource_server_url=https://api.angel.co/1/jobs
#------------------------------------------------






















